.contact-bg{
  background: #002e5b;
}

.contact{
  height: 91px;
  span{
    color: white;
    font-size: 21px;
  }
  display: flex;
  align-items: center;


}

.contact-col2{
  display: flex;
  justify-content: flex-end;
}
.contact-button{
  cursor: pointer;
  padding: 15px 17px;
  color: #002e5b;
  background: #fde428;
  border-radius: 3px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  &:hover{
    color: white;
  }

}