.stat{
  height: 359px;
  display: flex;
  align-items: center;

}

.stat-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-bg{
  background: #002e5b;
}

.stat-number{
  color: white;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 12px;
}

.stat-descr{
  color: white;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}