@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$OpenSans: 'Open Sans', sans-serif;
$ArialNarrow: 'Arial Narrow', arial;

@font-face{
font-family: 'OpenSans-Regular';
src: url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}